.root{
    -fx-background-color: #000;
}

.label{
    -fx-font-size: 20;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: #fff;
    -fx-alignment: center;
}

#titleLabel {
    -fx-font-size: 60;
}